html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0px;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-size: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    margin: 10px;
    position: relative;
}

.articleHeader {
    font-size: 2rem;
    background-color: lightblue;
    height: 250px;
    text-align: center;
    line-height: 250px;
}

input#menu {
    display: none;
}

section {
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonLoad {
    background-color: #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: 3px #f0f0f0 solid;
    text-align: center;
    color: white;
}

.buttonLoad:hover{
    background-color: grey;
}

.container {
    display: grid;
    place-items: center;
}

.items {
    position: absolute;
    display: flex;
    right: 0;
}
.items div {
    margin-left: 25px;
}

.first3Spots {
    margin-top: 20px;
    display: grid;
    gap: 20px;
}

.otherSpots {
    margin-top: 20px;
    display: grid;
    gap: 20px;
}
.articleBody{
    margin-top: 20px;
}

.spot {
    display: flex;
    border-radius: 5px;
    position: relative;
}

.spot img{
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.spot div{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
}
.first3Spots .spot img{
    width:80px;
    height: 50px;
    object-fit: cover;
} 
.first3Spots .spot div {
    width: 100%;
    background-color: lightblue;
    position: relative;
    line-height: 50px;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
}
.spot .star{
    position: absolute;
    top:10px;
    right: 10px;
    width: 10px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media (max-width:600px) {
    .container{
        flex-direction: column;
    }
    .articleBody {
        width: 90%;
    }
    /*選單線*/
    .line {
        width: 24px;
        height: 24px;
        background: #FFF;
        cursor: pointer;
        display: block;
        position: fixed;
        right:5px;
        top:-5px;
        padding: 6px;
        z-index:2;
    }
    .line .menu,
    .line .menu::before,
    .line .menu::after {
        background: #222;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        transition: background ease .3s,top ease .3s .3s, transform ease .3s;
        width: 20px;
    }
    
    .line .menu{
        left:10px;
        top:27px;
    }
    .line .menu::before {
        top:-6px;
    }
    
    .line .menu::after {
        top: 6px;
    }
    /*點選選單變叉叉*/
    #menu:checked + .line .menu {
        background: transparent;
    }
    
    #menu:checked + .line .menu::before {
        transform: rotate(45deg);
    }
    
    #menu:checked + .line .menu::after {
        transform: rotate(-45deg);
    }
    
    #menu:checked + .line .menu::before,
    #menu:checked + .line .menu::after {
        top: 0;
        transition: top ease .3s, transform ease .3s .3s;
    }
    
    /*選單開合*/
    #menu:checked ~ .items {
        width: 200px;
        right: 0;
    }
    
    .items {
        height: 100vh;
        background: #FFF;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        position: fixed;
        z-index: 1;
        transition: all .6s;
        width:0;
        right:-200px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .items div {
        margin-bottom: 25px;
    }

}

@media (min-width:600px) and (max-width:1200px) {
    .articleBody {
        width: 90%;
    }
    .first3Spots{
        grid-template-columns: repeat(2, 1fr);
    }
    .first3Spots :nth-child(3){
        grid-column: span 2;
    }
    .otherSpots{
        grid-template-columns: repeat(4, 1fr);
    }
    .otherSpots :nth-child(10n+9), .otherSpots :nth-child(10n+10){
        grid-column: span 2;
    }
    .spot img{
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width:1201px) {
    .first3Spots{
        max-width: 1200px;
        grid-template-columns: repeat(3, 1fr);
    }

    .otherSpots{
        max-width: 1200px;
        grid-template-columns: repeat(6, 1fr);
    }
    .otherSpots :nth-child(5n+1) {
        grid-column: span 2;
    }
}