body{ /*設定字型、統一設定margin及padding*/
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0 auto;
    padding:0;

}
.title{
    padding:0 10px;/*設定內邊距*/
}
.greeting{
    height: 250px;
    font-size: 2rem;/*字體兩倍大小*/
    background-color:lightblue;
    text-align: center;/*水平對齊*/
    line-height: 250px;/*div高=行距高實現垂直對齊*/
}

.btn {
    background-color: lightgray;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    display: block;
}

/*隱藏核許框*/
    input#menu {
        display: none;
}


/*螢幕尺寸為1201px以上*/
@media (device-width>1201px){
    .header{
        display:flex;/*header下方子元件要水平排列*/
        justify-content: space-between;/*子元件各靠左及靠右對齊*/
    }
    .content{
        margin-top: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        max-width: 1200px;
        display:grid;
        grid-gap:20px;
        grid-template-columns: repeat(6,1fr);
    }
    .items{
        display:flex;/*items要水平排列*/
        align-content: flex-end;/*items靠右對齊*/
    }
    .item{
        padding:0 10px;/*設定內邊距*/
    }

    /*small boxes*/
    .sb{
        display: flex;
        background-color: lightblue;
        grid-column: span 2;

    }
    .sb div{
        margin-top: 0px;
        align-self: center;

    }
    .sb img{
        width:80px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
    }

    .mb{
        grid-column: span 1;
    }

    .lb{
        grid-column: span 2;
    }

    .mb, .lb{
        position:relative;
        display: flex;
        align-items: flex-end;
        height: 20vh;
        overflow: hidden;
    }
    .mb img, .lb img{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .mb img.star, .lb img.star{
        position: absolute;
        top:10px;
        right: 10px;
        width: 10px;
        height: 10px;
        transform: translate(50%,-50%);
        z-index: 1;
    }
    .mb div,.lb div{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        white-space: nowrap; /*禁止文字換行*/
        text-overflow: ellipsis; /*隱藏的文字以...替代*/
        overflow: hidden; /*隱藏換行文字*/
        padding: 0 10px;
        box-sizing: border-box;
        text-align: center;
        flex:1;
    }

}
